- content_for :header do
  .header{"data-role" => :header, "data-position" => :fixed}
    %h1 Challenge your friends...

- form_tag sessions_path, :id => 'login_form' do
  .form_field{"data-role" => :fieldcontain}
    = label_tag :login, "Username or Email Address"
    = text_field_tag :login, params[:login], :type => :email
  .form_field{"data-role" => :fieldcontain}
    = label_tag :password
    = password_field_tag :password, '', :type => :password

  #forgot_password
    = link_to 'Forgot password?', new_forgot_password_path

  = submit_tag 'Log In', "data-icon" => "arrow-r", "data-iconpos" => :right, "data-theme" => :b
