- title "Edit Account"

- semantic_form_for @friend do |f|
  = f.error_messages
  - f.inputs do
    = f.input :name, :label => 'Full name'
    = f.input :username
    = f.input :email
    = f.input :password, :hint => 'Leave blank unless you want to change your password', :input_html => {:size => 10}
    = f.input :password_confirmation, :input_html => {:size => 10}
    = f.input :show_hidden_challenges, :required => false, :as => :radio
  - f.buttons do
    = f.commit_button 'Update'
  
- if @friend.can_tweet?
  %h3 Tweeting as...
  %p
    = image_tag @friend.twitter_profile_image_url
    %br
    = @friend.twitter_screen_name
    
  %div
    = link_to 'Change associated Twitter account', {:controller => 'twitter_accounts', :action => 'update'}, :method => 'put', :confirm => 'You will be redirected to Twitter to provide another username and password'
  %div
    = link_to 'Remove my Twitter account', {:controller => 'twitter_accounts', :action => 'destroy'}, :method => 'delete', :confirm => 'Your ShouldBet challenges will no longer be posted to Twitter'
- else
  = link_to 'Add your Twitter account to begin posting ShouldBet challenges!', {:controller => 'twitter_accounts', :action => 'create'}
  
%p
  %small
    %strong How is my Twitter account used? 
    When you add your Twitter account to ShouldBet, all of your challenges' descriptions and comments are posted to Twitter. It's fun, try it out!
