- title "Edit Account"

- form_for @friend do |f|
  = f.error_messages

  %p
    = f.label :username
    %br
    = f.text_field :username
  %p
    = f.label :name, 'Full name'
    %br
    = f.text_field :name
  %p
    = f.label :email, "Email Address"
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation, "Confirm Password"
    %br
    = f.password_field :password_confirmation
  %p
    = f.label :show_hidden_challenges
    %br
    = f.check_box :show_hidden_challenges
  %p
    = f.submit "Update"
    
- if @friend.twitter_user
  %h3 Tweeting as...
  %p
    = image_tag @friend.twitter_profile_image_url
    %br
    = @friend.twitter_screen_name
    
  %p
    = link_to 'Change associated Twitter account', {:controller => 'twitter_accounts', :action => 'update'}, :method => 'post', :confirm => 'You will be redirected to Twitter to provide another username and password'
