- content_for :header do
  .header{"data-role" => :header, "data-position" => :fixed}
    %h1 Sign Up

#log_in
  Already have an account?
  = link_to "Log in", login_path, "data-role" => :button

- form_for @friend do |f|
  - unless f.error_messages.empty?
    .info
      = f.error_messages

  = f.hidden_field :invitation_token, :value => params[:invitation_token]
  
  .form_field{"data-role" => :fieldcontain}
    = f.label :username
    = f.text_field :username
  .form_field{"data-role" => :fieldcontain}
    = f.label :name, 'Full name'
    = f.text_field :name
  .form_field{"data-role" => :fieldcontain}
    = f.label :email, "Email Address"
    = f.text_field :email, :type => :email
  .form_field{"data-role" => :fieldcontain}
    = f.label :password
    = f.password_field :password, :type => :password
  .form_field{"data-role" => :fieldcontain}
    = f.label :password_confirmation, "Confirm Password"
    = f.password_field :password_confirmation, :type => :password
  .form_field{"data-role" => :fieldcontain}
    = f.check_box :terms_of_use
    = f.label :terms_of_use, "I agree to the #{link_to 'terms of use', '/terms.html'}"

  = submit_tag 'Save', "data-icon" => :check, "data-theme" => :b
