
= f.error_messages
/
  %p
    = f.label :flagged, 'Flag?'
    %br
    = f.check_box :flagged
    %small Keep this challenge near the top of my challenges list
%p
  = f.label :hidden, 'Hide?'
  %br
  = f.check_box :hidden
%p
  = f.submit "Submit"
