- unless f.error_messages.empty?
  .info
    = f.error_messages
/
  .form_field{"data-role" => :fieldcontain}
    = f.label :flagged, 'Flag?'
    = f.select :flagged, options_for_select([["No", "0"],["Yes", "1"]]), {}, "data-role" => :slider
    %small Keep this challenge near the top of my challenges list

.form_field{"data-role" => :fieldcontain}
  = f.label :hidden, 'Hide?'
  = f.select :hidden, options_for_select([["No", "0"],["Yes", "1"]]), {}, "data-role" => :slider

= submit_tag "Save", "data-icon" => :check, "data-theme" => :b
