- title "Comments for #{truncate(@challenge.event.description, :length => 20)}"

- unless @challenge_comments.empty?
  - for challenge_comment in @challenge_comments
    %table{:style => "width:100%; background-color:#{cycle('#fff', '#eee')}"}
      %tr
        %td{:style => 'width:60px'}= image_tag challenge_comment.friend.twitter_profile_image_url
        %td== #{challenge_comment.friend.name} (#{challenge_comment.friend.twitter_screen_name})
      %tr
        %td{:colspan => 2}
          %small
            %em== Updated #{time_ago_in_words(challenge_comment.created_at)} ago
      %tr
        %td{:colspan => 2}= truncate(challenge_comment.content, :length => 50)
      %tr
        %td{:colspan => 2}
          = link_to 'Show', challenge_comment_path(challenge_comment.challenge, challenge_comment)
          - if can?(:update, challenge_comment)
            |
            = link_to( 'Edit', edit_challenge_comment_path(challenge_comment.challenge, challenge_comment) )

  = will_paginate @challenge_comments
  
%p
  = link_to "New Comment", new_challenge_comment_path(@challenge)
  |
  = link_to "Back to Challenge", @challenge
