- content_for :header do
  .header{"data-role" => :header, "data-position" => :fixed}
    %h1 Comments
    = link_to "New", new_challenge_challenge_comment_path(challenge), :class => "ui-btn-right", "data-theme" => :b, "data-icon" => :plus

- unless @challenge_comments.empty?
  %ul{"data-role" => :listview, "data-theme" => :b}
    - for challenge_comment in @challenge_comments
      %li
        = link_to challenge_comment.friend.name, [challenge, challenge_comment]
        %p
          = truncate(challenge_comment.content, :length => 25)
        %p
          %small
            = time_ago_in_words(challenge_comment.created_at) + ' ago'
        - if can?(:update, challenge_comment)
          = link_to 'Edit', edit_challenge_challenge_comment_path(challenge, challenge_comment)

