- title "#{current_friend.name}'s Challenges", false

%h1
  = image_tag current_friend.twitter_profile_image_url
  = "#{current_friend.name}'s Challenges"

- if current_friend.contacts.empty?
  %p
    %em You don't have any registered friends just yet...
  %p
    = link_to 'Invite a friend', new_invitation_path
- else
  %p
    Create new challenge from
    = link_to 'my contacts', contact_list_friend_path(current_friend)

- unless @challenges.empty?
  - for challenge in @challenges
    - the_friend = (challenge.friends - [current_friend]).first
    - preference = challenge.preferences.detect { |p| p.friend == current_friend}
    %table{:style => "width:100%; background-color:#{cycle('#fff', '#eee')}"}
      %tr
        %td{:style => 'width:60px'}= image_tag the_friend.twitter_profile_image_url
        %td== #{the_friend.name} (#{the_friend.twitter_screen_name})
        %td
          - if can?(:accept, challenge)
            Accepted?&nbsp;&nbsp;
            = link_to( (challenge.accepted? ? 'Yes' : 'No'), accept_challenge_path(challenge.hashed_id), :title => 'Click to toggle on/off')
      %tr
        %td
        %td{:colspan => 2}= link_to truncate(challenge.event.description), challenge
      %tr
        %td
        %td{:colspan => 2}== Updated #{time_ago_in_words(challenge.updated_at)} ago
      %tr
        %td
        %td{:colspan => 2}
          - challenge.comments[0..3].each do |c|
            = link_to truncate(c.content, :length => 40), challenge_comment_path(challenge, c)
            %br
          - if challenge.comments.empty?
            = link_to 'Be the first to comment >>', challenge_comments_path(challenge)
          - elsif challenge.comments.size > 0
            = link_to 'See All Comments >>', challenge_comments_path(challenge)
      %tr
        %td
        %td{:colspan => 2}
          - if can? :update, challenge
            = link_to 'Edit challenge', edit_challenge_path(challenge)
            |
          - else
            %span.disabled Edit challenge
            |
          - if preference.hidden?
            = link_to 'Unhide challenge', toggle_hidden_challenge_preference_path(challenge, preference), :method => 'put'
          - else
            = link_to 'Hide challenge', toggle_hidden_challenge_preference_path(challenge, preference), :method => 'put', :confirm => "Hide this challenge from view? You can later view hidden challenges by updating your settings in My Account."

  = will_paginate @challenges
