- title "#{h(current_friend.username)}'s challenges"

- if current_friend.contacts.empty?
  .invite
    You don't have any registered friends just yet...
    = link_to 'Invite a friend', new_invitation_path
- else
  .create
    Create new challenge from
    = link_to 'my contacts', contact_list_friend_path(current_friend)

- unless @challenges.empty?
  .challenges
    %ul
      - for challenge in @challenges
        - preference = challenge.preferences.detect { |p| p.friend == current_friend}
        %li.arrow
          = h( (challenge.friends - [current_friend]).first.name )
          = link_to h( truncate(challenge.event.description) ), challenge
          = time_ago_in_words(challenge.updated_at) + ' ago'
          = link_to_if( (challenge.challenged == current_friend), (challenge.accepted? ? 'Yes' : 'No'), accept_challenge_path(challenge.hashed_id), :title => 'Click to toggle on/off' )
          - if challenge.challenger == current_friend
            = link_to 'Edit', edit_challenge_path(challenge)

