- title "#{h(current_friend.username)}'s challenges"

- if current_friend.contacts.empty?
  %ul
    %li.arrow
      = link_to 'Invite a friend', new_invitation_path
- else
  - content_for :toolbar do
    = link_to 'New', contact_list_friend_path(current_friend), :class => 'add'

- unless @challenges.empty?
  #challenges
    %ul
      - for challenge in @challenges
        %li.arrow
          = h( (challenge.friends - [current_friend]).first.name )
          = link_to h( truncate(challenge.event.description) ), challenge
          = time_ago_in_words(challenge.updated_at) + ' ago'

