- title "Challenge"

- my_friend = (@challenge.friends - [current_friend]).first
%p
  = image_tag my_friend.twitter_profile_image_url
  == #{my_friend.name} (#{my_friend.twitter_screen_name})
%p
  %strong Event:
  ~ @challenge.event.description
%p
  %strong Prediction:
  ~ @challenge.prediction
- if @challenge.complete?
  %p
    %strong Result:
    ~ @challenge.result
  %p
    %strong Winner:
    = @challenge.winner.try(:name)
  %p
    %strong Contested?:
    = @challenge.contested? ? 'Yes' : 'No'
%p
  %strong Created:
  = @challenge.created_at.to_date.to_s(:db)
%p
  %strong Updated:
  = @challenge.updated_at.to_date.to_s(:db)
%p
  %strong Preferences:
  = link_to 'Edit', edit_challenge_preference_path(@challenge, @challenge.preferences.find_by_friend_id(current_friend.id))
%p
  - links = []
  - links << link_to( "Edit", edit_challenge_path(@challenge) ) if can?(:update, @challenge)
  - links << link_to( "View Comments", challenge_challenge_comments_path(@challenge) )
  - links << link_to( "Challenges", challenges_path )
  = links.join(' | ').html_safe!
