- content_for :header do
  .header{"data-role" => :header, "data-position" => :fixed}
    %h1 Challenge
    - if can?(:update, @challenge)
      = link_to "Edit", edit_challenge_path(@challenge), :class => "ui-btn-right", "data-theme" => :b, "data-icon" => :grid

%h3
  Challenged:
  = @challenge.challenged.name
%h3
  Event:
  ~ @challenge.event.description
%p
  Prediction:
  ~ @challenge.prediction

%p
  %small
    Updated:
    = time_ago_in_words(@challenge.updated_at) + ' ago'

- unless @challenge.comments.empty?
  %p
    %small
      Last comment:
      = time_ago_in_words(@challenge.most_recent_comment.updated_at) + ' ago'

- if @challenge.complete?
  %div{"data-role" => :collapsible, "data-collapsed" => true}
    %h3 Result
    %p
      Result:
      ~ @challenge.result
    %p
      Winner:
      = @challenge.winner.try(:name)
    %p
      Contested?:
      = @challenge.contested? ? 'Yes' : 'No'

.links{"data-role" => :controlgroup}
  = link_to "Comments", challenge_challenge_comments_path(@challenge), "data-role" => :button
  = link_to "Preferences", edit_challenge_preference_path(@challenge, @challenge.preferences.find_by_friend_id(current_friend.id)), "data-role" => :button

