!!! Strict
%html{html_attrs}
  
  %head
    %title
      == ShouldBet.com - #{h(yield(:title) || AppConfig[:title])} - weight loss challenge, fitness challenge, friendly bet, track fitness
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{:description => "A fun, simple application to create and track fitness and weight loss challenges"}/
    %meta{:keywords => "weight loss challenge, fitness challenge, friendly bet, track fitness"}/
    = stylesheet_link_tag "/jqtouch/jqtouch/jqtouch.min.css", "/jqtouch/jqtouch/themes/apple/theme.min.css"
    = javascript_include_tag "/jqtouch/jqtouch/jquery.1.3.2.min.js", "/jqtouch/jqtouch/jqtouch.min.js", "mobile"
    = yield(:head)

  %body
    .current
      - if show_title?
        .toolbar
          = link_to "Back", nil, :class => "back" unless current_page? root_path
          %h1=h yield(:title)
          ~ yield(:toolbar)

      - unless flash.empty?
        .info
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_{name}"

      ~ yield

    = render :partial => 'shared/google_analytics' if Rails.env == 'production'
