!!! Strict
%html{html_attrs}
  
  %head
    %title
      == ShouldBet.com - #{yield(:title) || AppConfig[:title]} - friendly bet, friendly wager, bet friends
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{:description => "A fun, simple application to create and record bets with friends"}/
    %meta{:keywords => "friendly bet, friendly wager, bet friends"}/
    = stylesheet_link_tag "http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css", "mobile"
    = javascript_include_tag "http://code.jquery.com/jquery-1.5.2.min.js", "http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"
    = yield(:head)

  %body
    .app_page{"data-role" => :page, "data-theme" => :a, :id => (yield(:page_id) || rand(99999))}
      -# header container declared in templates to control nav buttons
      = yield(:header)

      .app_content{"data-role" => :content}
        - unless flash.empty?
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"

        ~ yield

      .app_footer{"data-role" => :footer, "data-position" => :fixed, "data-id" => "app_footer"}
        = render :partial => "shared/footer"

    = render :partial => 'shared/google_analytics' if Rails.env == 'production'

