!!! Strict
%html{html_attrs}
  
  %head
    %title
      == ShouldBet.com - #{yield(:title) || AppConfig[:title]} - weight loss challenge, fitness challenge, friendly bet, track fitness
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{:description => "A fun, simple application to create and track fitness and weight loss challenges"}/
    %meta{:keywords => "weight loss challenge, fitness challenge, friendly bet, track fitness"}/
    = stylesheet_link_tag "http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css"
    = javascript_include_tag "http://code.jquery.com/jquery-1.5.min.js", "http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"
    = yield(:head)

  %body
    #page{"data-role" => :page, "data-theme" => :a}
      = yield(:header)

      - unless flash.empty?
        .info
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_{name}"

      ~ yield

      = render :partial => "shared/footer"

    -#= render :partial => 'shared/google_analytics' if Rails.env == 'production'
